/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------FONTS--------------*/
/*----------------------------------*/
@font-face {
    font-family: "Lane";
    src: url('../fonts/lane.ttf');
}
@font-face {
    font-family: "Tug";
    src: url('../fonts/Tugano.otf');
}
@font-face {
	font-family: "Gravity-Regular";
	src: url("../fonts/Gravity-Regular.otf");
}
@font-face {
	font-family: "Gravity-Bold";
	src: url("../fonts/Gravity-Bold.otf");
}
@font-face {
	font-family: "Gravity-Light";
	src: url("../fonts/Gravity-Light.otf");
}
/*----------------MAIN--------------*/
/*----------------------------------*/
body {
	line-height: 1.75em;
	font-family: "Lane";
}
p {
	margin-bottom: 15px;
}
a {
	color: black;
}
	a:visited {
		color: black;
	}
.push {
	clear: both;
}
.container {
	width: 1170px;
	margin: auto;
}
.project-bold-text {
	font-family: "Gravity-Bold";
}
.loading-screen {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5;
	background-color: white;
}
.loading {
    width: 200px;
    height: 50px;
    margin: 150px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -100px;
}

.loading span {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    display: block;
    background-color: #363636;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loading span:nth-of-type(1) {
    animation-name: clockLeft;
}

.loading span:nth-of-type(2) {
    left: 20px;
    animation-name: boom;
    animation-duration: 1.2s;
    animation-delay: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loading span:nth-of-type(3) {
    left: 40px;
    animation-name: boom;
    animation-duration: 1.2s;
    animation-delay: 1.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loading span:nth-of-type(4) {
    left: 60px;
    animation-name: boom;
    animation-duration: 1.2s;
    animation-delay: 1.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loading span:last-of-type {
    left: 80px;
    animation-name: clockRight;
    animation-delay: 0.8s;
}

@keyframes clockLeft {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(50deg) translate(-80px, 10px);
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(0deg) translate(0, 0);
        animation-timing-function: ease-out;
    }
}

@keyframes clockRight {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(-50deg) translate(80px, -10px);
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(0deg) translate(0, 0);
        animation-timing-function: ease-out;
    }
}
.nav-bar-container {
	position: fixed;
	right: 0px;
	z-index: 7;
	background-color: rgba(255, 255, 255, .8);

}
	.nav-bar-container ul li {
		text-decoration: none;
		display: inline-block;
		padding: 20px;
		padding-right: 5px;
		cursor: pointer;
	}
		.nav-bar-container ul li:last-child {
			padding-right: 30px;
		}
.overlay {
	background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 2;
}
.header-wrapper {
	overflow: hidden;
	background-image: url('../images/programming.jpeg');
	background-repeat: no-repeat;
	background-size: 200%;
	animation: panning 300s infinite linear;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(135,135,135,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(135,135,135,1);
	box-shadow: 0px 2px 5px 0px rgba(135,135,135,1);
}
	@keyframes panning {
	  0% {
	    background-position: 0% 0%;
	  }
	  25% {
	    background-position: 100% 100%;
	  }
	   50% {
	    background-position: 100% 0%;
	  }
	  75% {
	    background-position: 0 100%;
	  }
	  200% {
	    background-position: 0 0;
	  }
}
.header-text {
	position: absolute;
	color: white;
	font-family: "Gravity-Bold";
	right: 35px;
	top: 15px;
	z-index: 3;
	text-align: right;
	line-height: 1.7em;
}
.scroll-arrow {
	position: absolute;
	left: 50%;
	top: 91%;
	margin-left: -20px;
	margin-top: -17px;
	height: 35px;
    width: 40px;
    z-index: 4;
    cursor: pointer;
}
	.arrow-line-container {
		position: relative;
	}
		.arrow-line {
			position: absolute;
			width: 2px;
			height: 20px;
			background-color: whitesmoke;
			top: 9px;
		}
		.line-1 {
			left: 14px;
			transform: rotate(-35deg);
		}
		.line-2 {
			right: 13px;
			transform: rotate(35deg);
		}
.header-image {	
    width: 100%;
}
.main-title, .sub-title {
	position: absolute;
	font-family: "Tug";
	color: white;
	top: 50%;
	left: 50%;
	font-size: 50px;
	z-index: 3;
}
/*	.main-title span, .sub-title span {
		color: white;
	}*/
.main-title {
	margin-top: -32px;
	margin-left: -134px;
}
.sub-title {
	margin-top: 32px;
	margin-left: -171px;
}
.main-wrapper {
	width: 100%;
	text-align: center;
}
.main-container {
	margin: 0 auto;
}
.section-container {
	text-align: center;
	border-bottom: 1px solid #c7c7c7;
}
.section-icon, .section-icon-mobile {
	margin-top: 100px;
	color: black;
}
.section-icon-mobile {
	display: none !important;
}
.section-title {
	font-family: "Tug";
	font-size: 35px;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
#section-1 .section-title {
	padding-bottom: 0px;
	color: black;
}
.product-section {
	width: 100%;
}
.product-container {
	margin: 0 auto;
	font-family: "Gravity-Light";
}
.product-box {
	position: relative;
	margin-bottom: 100px;
	margin-right: 10px;
	border: 1px solid #c7c7c7;
	cursor: pointer;
/*	-webkit-box-shadow: 0px 2px 5px 0px rgba(135,135,135,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(135,135,135,1);
	box-shadow: 0px 2px 5px 0px rgba(135,135,135,1);*/
}
.product-box, .product-description {
	margin-top: 100px;
}
.product-box-1 {
	background-image: url("../images/photo-1.jpg");
	width: 500px;
	height: 316px;
	float: left;
}
.product-box-2 {
	background-image: url("../images/photo-5.jpg");
	width: 500px;
	height: 280px;
	float: right;
}
.product-box-3 {
/*	background-image: url("../images/photo-3.jpg");*/
	background-color: darkgray;
	color: white;
	width: 500px;
	height: 280px;
	float: left;
}
	.product-box-3 p {
		margin-top: 125px;
	}
.product-box-4 {
	background-image: url("../images/photo-4.jpg");
	width: 500px;
	height: 264px;
	float: right;
}
.product-box-5 {
	background-image: url("../images/photo-6.jpg");
	width: 500px;
	height: 280px;
	float: left;
}
.product-box-6 {
	background-image: url("../images/photo-2.jpg");
	width: 500px;
	height: 280px;
	float: right;
}
.product-description {
	width: 50%;
	text-align: center;
}
.product-title {
	font-size: 30px;
	font-family: "Gravity-Light";
	margin-bottom: 30px;
}
.product-description-right {
	float: right;
}
.product-description-left {
	float: left;
}
.product-description-right p, .product-description-left p {
	text-align: left;
}
.github-btn {
	position: absolute;
	font-size: 20px;
	font-family: "Gravity-Regular";
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px 20px 5px 20px;
	border: 2px solid white;
	color: white;
	cursor: pointer;
	background-color: transparent;
    margin-top: 70px;
    top: 60%;
    left: 50%;
    margin-left: -92px;
    z-index: 3;
}
.project-link-btn {
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px 20px 5px 20px;
	border-bottom: 1px solid #b7b7b7;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
}
/*.product-section-1 {
	background-color: #4357AD;
}*/
.product-section-2 {
	background-color: #ececec;
}
/*.product-section-3 {
	background-color: #3B8EA5;
}*/
.product-section-4 {
	background-color: #ececec;
}
/*.product-section-5 {
	background-color: #0892A5;
}*/
.product-section-6 {
	background-color: #ececec;
}
#gh-btn {
	font-family: "Gravity-Bold";
	display: inline-block;
	margin-top: 50px;
	border: 2px solid #1a1a1a;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
#section-2-container {
	background-color: #434343;
}
.section-3-container {
	background-color: #919191;
	color: white;
	font-family: "Gravity-Light";
	padding-bottom: 50px;
}
.skills-container {
	margin: 0 auto;
	margin-bottom: 100px;
	color: white;
}
.skill-box {
	display: inline-block;
	border: 1px solid white;
	padding: 50px;
	margin: 10px;
	font-size: 20px;
	cursor: pointer;
	font-family: "Gravity-Light";
}
.skill-desc-container {
	display: none;
}
.skill-desc {
	display: none;
	opacity: 0;
	color: white;
	width: 600px;
	margin: 0 auto;
	font-family: "Gravity-Light";
	font-size: 18px;
}
	.skill-desc h3 {
		font-size: 20px;
		margin-bottom: 30px;
	}
#toolbox-desc ul {
	text-align: left;
}
.back-btn {
	display: none;
	opacity: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	display: inline-block;
	cursor: pointer;
	margin-top: 20px;
	color: white;
	border: 2px solid white;
}
.footer-wrapper {
	background-color: #1a1a1a;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}
/* ---------- RETINA QUERIES ---------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	.product-box-1 {
		background-image: url("../images/photo-1-2x.jpg");
		background-size: 500px 316px;
	}
	.product-box-2 {
		background-image: url("../images/photo-5-2x.jpg");
		background-size: 500px 280px;
	}
	.product-box-3 {
/*		background-image: url("../images/photo-3-2x.jpg");*/
		background-size: 500px 280px;
	}
	.product-box-4 {
		background-image: url("../images/photo-4-2x.jpg");
		background-size: 500px 264px;
	}
	.product-box-5 {
		background-image: url("../images/photo-6-2x.jpg");
		background-size: 500px 280px;
	}
	.product-box-6 {
		background-image: url("../images/photo-2-2x.jpg");
		background-size: 500px 280px;
	}
}

/* ---------- MEDIA QUERIES ---------- */ 
@media (max-width: 1200px) {
	.container {
		width: 980px;
	 }
	.product-box {
		width: 980px;
	}
	 .product-box-1 {
	 	background-size: 450px 266px;
		width: 450px;
		height: 266px;
	}
	.product-box-2 {
		background-size: 400px 230px;
		width: 450px;
		height: 230px;
	}
	.product-box-3 {
		background-size: 400px 230px;
		width: 450px;
		height: 230px;
	}
	.product-box-4 {
		background-size: 400px 214px;
		width: 400px;
		height: 214px;
	}
	.product-box-5 {
		background-size: 400px 230px;
		width: 450px;
		height: 230px;
	}
	.product-box-6 {
		background-size: 400px 230px;
		width: 450px;
		height: 230px;
	}
	.product-title {
		font-size: 25px;
	}
	.product-container {
		padding-bottom: 50px;
	}
}
@media (max-width: 980px) {
	.container {
		width: 767px;
	 }
	 .product-box-1 {
	 	background-size: 400px 253px;
		width: 400px;
		height: 253px;
	}
	.product-box-2 {
		background-size: 400px 224px;
		width: 400px;
		height: 224px;
	}
	.product-box-3 {
		background-size: 400px 224px;
		width: 400px;
		height: 224px;
	}
	.product-box-4 {
		background-size: 400px 221px;
		width: 400px;
		height: 221px;
	}
	.product-box-5 {
		background-size: 400px 224px;
		width: 400px;
		height: 224px;
	}
	.product-box-6 {
		background-size: 400px 224px;
		width: 400px;
		height: 224px;
	}
	.product-description {
		width: 46%;
	    box-sizing: border-box;
	}
	.section-color .product-description {
		padding-right: 50px;
	}
	.section-default .product-description {
		padding-left: 50px;
	}
}
@media (max-width: 767px) {
	.product-description-right p, .product-description-left p {
		text-align: center;
	}
  	.container {
	    box-sizing: border-box;
	    width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
 	}
 	.product-container {
 		padding-top: 100px;
 	}
	.product-box-1, .product-box-2, .product-box-3, .product-box-4, .product-box-5, .product-box-6, .product-description {
		float: none;
		margin: auto;
		margin-bottom: 20px;
	}
 	.overlay {
 		z-index: 3;
 		opacity: .7;
 	}
 	.header-wrapper {
 		background-size: cover;
		animation: none;
 	}
 	.header-text {
 		z-index: 4;
 		width: 100%;
 		font-size: 14px;
 		top: 0px;
 		right: 0px;
 		padding: 15px;
 		box-sizing: border-box;
 	}
 	.scroll-arrow {
 		background-color: whitesmoke;
 		opacity: .6;
 		border: 2px solid black;
 		height: 30px;
    	width: 40px;
 	}
 	.arrow-line {
 		height: 20px;
 		background-color: black;
 	}
 		.line-1 {
 			left: 14px;
 		}
 		.line-2 {
 			right: 14px;
 		}
 	.main-title, .sub-title {
 		font-size: 27px;
 	}
 	.left-picture {
 		width: 100%;
 	}
 	.main-title {
 		margin-left: -72px;
 		margin-top: -12px;
 	}
 	.sub-title {
 		margin-left: -92px;
 		margin-top: 35px;
 	}
 	.section-title {
 		font-size: 35px;
 	}
 	.github-btn {
 		font-size: 15px;
 		margin-left: -74px;
 	}
 	.section-color .product-description, .section-default .product-description {
 		margin-top: 50px;
 		padding-right: 0px;
 	}
 	.section-default .product-description, .section-color .product-description {
    	padding-left: 0px;
    	width: 100%;
    	text-align: center;
	}
	.skill-desc {
		width: 100%;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
	}
 	.skill-box {
 		width: 150px;
 		box-sizing: border-box;
		padding: 30px;
		font-size: 15px;
	}
 	.section-icon-mobile {
		display: inline-block !important;
	}
	.section-icon {
		display: none !important;
	}
	.project-link-btn {
		margin-bottom: 50px;
		border: 1px solid #1e1e1e;
		background-color: #707070;
		color: white;
	}
	.footer-wrapper {
		text-align: center;
	}

}
@media (max-width: 480px) {
	.product-box-1 {
		background-size: 280px 177px;
		width: 280px;
		height: 177px;
	}
	.product-box-2 {
		background-size: 280px 157px;
		width: 280px;
		height: 157px;
	}
	.product-box-3 {
		background-size: 255px 157px;
		width: 280px;
		height: 157px;
	}
	.product-box-4 {
		background-size: 280px 148px;
		width: 280px;
		height: 148px;
	}
	.product-box-5 {
		background-size: 255px 157px;
		width: 280px;
		height: 157px;
	}
	.product-box-6 {
		background-size: 255px 157px;
		width: 280px;
		height: 157px;
	}
}

